@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  --color-brand-800: #1e40af;
  --shadow-card: 0 10px 25px -10px rgba(0,0,0,.15);
  --radius-xl: 14px;
}

:root { color-scheme: dark light; }
html, body, #root { height: 100%; }